.Modal {
  z-index: 200;
  width: 70%;
  height: 50vh;
  border-radius: 10px;
  background-color: #1f2833;
  position: fixed;
  top: 30%;
  left: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  padding: 16px;
  box-shadow: 1px 1px 1px black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.Close{
  border: 1px solid #45a29e;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  color: #45a29e;
  text-align: center;  
}